os: linux

dist: xenial

language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
env:
  - INSTALL_EXTRAS=[plotting,bloch_sphere_visualization,fancy_progressbar,tests]
  - INSTALL_EXTRAS=[bloch_sphere_visualization,fancy_progressbar,tests]
  - INSTALL_EXTRAS=[plotting,bloch_sphere_visualization,tests]
  - INSTALL_EXTRAS=[plotting,fancy_progressbar,tests]

#these directories are persistent
cache: pip

#manually install these dependencies so that qutip can be installed via pip
before_install:
  - pip install numpy scipy cython

install:
  - pip install .$INSTALL_EXTRAS

script:
  - coverage run --rcfile=coverage.ini -m pytest

after_success:
  - coveralls

notifications:
  email: false

deploy:
  provider: pypi
  distributions: "sdist bdist_wheel"
  edge: true                            # use travis deployment v2
  on:
    tags: true                          # only deploy tagged commits
  skip_existing: true                   # upload artifacts only once
  username: "__token__"
  password:
    secure: "IGpk0C5hrt3CA6jddAyzGUC5S/EQMFsORNdktE/O9L/kgOlryIxH8eo1AICH8quc1d4bqVrnKmeM5c9RJ1j6GIkvQ84RYF67Tcnd4Ik3fHwYEth9ccbeD8e9WRrP8tCKR3Ex6QU7oUrXKH6UdoovTd2QlxRzkfLjzUgnGGO5avcmWZmEcq+Gq3JO1Wn7o1HEoJUFiRkW2pRBrpkl5ou0YV4zrFesdq9+AvCCl62wWdq9o6R38BWaQCdAd8gWDncTJ6eolNGMapq+7rnz6HCGdadx302w9eTfc3dnPlvI3EEpOlNFcDksiPMud6q5DxVaKbt+uv75uNkD+ZXVWHvQBTqE+cxJjTgfiL2p0K0U1RtWFCQq4CXRlsGEDy+YDGcyoqLa+sTG+9qR9GMUvwIdTeWfZQLx/lKFZHsHPfGGjE1Jj7rpJTVsDrQVNFmSzpuGJYfWjGc4X4GToRpPqPanL6UBhi3PjOWl+gQ1p8uqKzy7BEKX1deVx41K/qHCEDV2JFm373VG4I/u+EfPSSwar2VWjwzPUUI9uAJyVf0Ml7N9SRerHJ+8AXvLgQAQGwMTJrswMhyrQhMgkx8wyCegoAY1J8FvcA9XH+W8t9SQSrjMj16/+H06Krx3BIdk4/u9LQ4ezOldAAGSxTuqxFkOxdqyu9Fm2GLJxvss4J2SnTs="
