dist: xenial

language: python

python:
  - '3.5'
  - '3.6'
  - '3.7'
  - '3.8'

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda config --append channels conda-forge
  # Useful for debugging any issues with conda
  - conda info -a

  - conda env create -f ./environment.yml
  - source activate test-environment
  - pip install .[fancy_progressbar,doc]

script:
  - "coverage run --rcfile=coverage.ini -m pytest"

after_success:
  - coveralls

notifications:
  email: false
